* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Bonny";
  src: local("Bonny"), url("./Bonny-Bold.woff2") format("woff2");

}
