---
import pagesList from "../assets/data/pagesList";
const { index, title, bg } = Astro.props;
const length = pagesList.length;
---

<a
  href={"/" + title}
  class="hover:scale-105 hover:grayscale
      transition-all duration-300"
>
  <div
    class={`hexagon relative h-44 ${
      length - 1 === index || length - 2 === index ? "-mt-10" : ""
    }`}
  >
    <p
      class="absolute text-lg backdrop-blur-md rounded-md capitalize
        top-[44%] left-[30%] font-bold font-heading
        px-3 py-1"
    >
      {title}
    </p>
  </div>
</a>

<style define:vars={{ bg }}>
  .hexagon {
    aspect-ratio: cos(30deg);
    clip-path: polygon(-50% 50%, 50% 100%, 150% 50%, 50% 0);
    background: var(--bg) center;
    background-size: cover;
  }
</style>
