---
const {title,bgPath,shape,color,txtPosition,position} = Astro.props
---

<a
  href={"/"+title}
  class={`absolute ${position} shape`}
  >
  <div class={`hover:scale-105  hover:brightness-110 transition-all 
duration-500 relative svgBg rounded-md
${title === "shows" || title == "movies" ? "h-56 w-64" :  "h-32 w-36"}`}>
  <h3
    class={`${txtPosition} absolute z-10  font-bold backdrop-blur-xl
rounded-lg px-2 text-white font-heading text-xl capitalize`}
  >
    {title}
  </h3>
  </div>
</a>

<style define:vars={{ bgPath, shape, color }}>
.shape{
    clip-path: var(--shape);
}
  .svgBg {
    background: var(--bgPath) space repeat;
    background-color: var(--color);
    clip-path: var(--shape);
  }
</style>
