---
import SkillItem from "../components/SkillItem.astro";
import iconList from "../assets/data/iconList";
console.log(iconList);
---

<section class="space-y-5 bg-zinc-800 py-5 px-2 text-white">
  <h2 class="text-3xl font-bold text-center">Thine Skills</h2>
  <div class="flex justify-center flex-wrap">
    {
      iconList.map(({ name, shapeColor, hoverColor }) => (
        <SkillItem
          name={name}
          color1={shapeColor && shapeColor[0]}
          color2={shapeColor &&  shapeColor[1]}
          hoverColor={hoverColor}
        />
      ))
    }
  </div>
</section>
