---
import { Icon } from "astro-icon/components";
const { color1, color2, name, hoverColor } = Astro.props;
---

<div class="relative w-36">
  <!--?xml version="1.0" standalone="no"?-->
  <svg
    id="sw-js-blob-svg"
    viewBox="0 0 100 100"
    xmlns="http://www.w3.org/2000/svg"
  >
    <defs>
      <linearGradient id={"sw-gradient-" + name} x1="0" x2="1" y1="1" y2="0">
        <stop id="stop1" stop-color={color1} offset="0%"></stop>
        <stop id="stop2" stop-color={color2} offset="100%"></stop>
      </linearGradient>
    </defs>
    <path
      fill={`url(#sw-gradient-${name})`}
      d="M12.9,-18.4C17.6,-19.5,23,-18,23.2,-14.5C23.3,-11,18.2,-5.5,17.5,-0.4C16.7,4.6,20.3,9.2,20,12.5C19.8,15.8,15.6,17.7,11.6,17.7C7.6,17.6,3.8,15.6,0.3,15C-3.1,14.5,-6.3,15.4,-7.2,13.7C-8.1,11.9,-6.7,7.5,-10.1,4.8C-13.5,2.1,-21.7,1,-23.6,-1.1C-25.5,-3.3,-21.3,-6.6,-19.6,-12.2C-17.9,-17.9,-18.8,-25.9,-15.9,-25.9C-13.1,-25.9,-6.5,-17.8,-1.2,-15.7C4.1,-13.5,8.1,-17.3,12.9,-18.4Z"
      width="100%"
      height="100%"
      transform="translate(50 50)"
      style="transition: 0.3s;"
      stroke-width="0"></path>
  </svg>
  <Icon
    name={"skills/" + name}
    class={`absolute hover:brightness-125 hover:scale-110 text-6xl transition-all duration-[400ms] top-10 right-12 `}
  />
</div>

<style define:vars={{ hoverColor }}>
  [data-icon]:hover {
    color: var(--hoverColor);
  }
</style>
